#text-box {
    width: 100%;
    height: 70vh;
    resize: none;
}

#submit-button {
    margin-top: 10px;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    margin-top: 100px;
}

.grid{
    margin-left: 5%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "title title"
                        "path path"
                        "editor file-explorer";
    grid-column-gap: 20px;
}

.editor{
    grid-area: editor;
}

.file-explorer{
    grid-area: file-explorer;
}

.title{
    grid-area: title;
}

#path-header{
    grid-area: path;
    color: silver;
    display: block;
}

.file-view{
    height: 96%;
    width: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 12%;
    margin-right: 10%;
    overflow: scroll;
}
.plus-button{
    padding: 0px;
    line-height: 10px;
}

.file-button{
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}

.folder-container{
    cursor: default;
}