<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-linedtextarea.js}" src="../static/js/jquery-linedtextarea.js"></script>
    <script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>
    <link rel="stylesheet" th:href="@{/css/jquery-linedtextarea.css}" href="../static/css/jquery-linedtextarea.css">
</head>
<body>
<div class="grid">
    <h1 class="title">FILE EXPLORER</h1>

    <h6 id="path-header" th:text="${files.getPath()}"></h6>
    <div class="editor">
        <textarea class="lined" rows="10" cols="60" id="text-box"></textarea>

        <script>
            $(function () {
                // Target all classed with ".lined"
                $(".lined").linedtextarea(
                    {selectedLine: 1}
                );
                // Target a single one
                $("#mytextarea").linedtextarea();
            });
        </script>
    </div>
    <div class="file-explorer">
        <script th:inline="javascript">
            var message = [[${files}]];
            console.log(message);
        </script>

        <div class="file-view ">
            <div th:each="file: ${files.getFolderItems()}">
                <!--<div th:if="${file.getType() == T(com.exadel.javacodeevaluator.models.FolderItemType).FOLDER}">-->
                    <!--<h6 th:text="${file.getName()}"></h6>-->
                <!--</div>-->
                <div th:switch="${file.getType()}">
                    <div th:case="${T(com.exadel.javacodeevaluator.models.FolderItemType).FOLDER}" class="folder-container" th:id="'folder-'+${file.getName()}">
                        <span th:text="'|- &#128193;' + ${file.getName()}"></span>
                        <button class="btn btn-outline-secondary btn-sm plus-button" th:id="'button-'+${file.getName()}" th:data-parameter1="${file.toString()}" onclick="expandButtonClick(this.getAttribute('data-parameter1'))">+</button>
                    </div>
                    <button th:case="${T(com.exadel.javacodeevaluator.models.FolderItemType).FILE}" th:text="'|- &#128441; '+${file.getName()}" class="file-button" th:id="'file-button-'+${file.getName()}" th:data-parameter1="${file.getPath()}" onclick="readFile(this.getAttribute('data-parameter1'))"></button>
                </div>

            </div>
        </div>
    </div>
    <button onclick="writeToFile()">SAVE</button>
</div>


</body>
</html>